@{
    ViewData["Title"] = "Home Page";
    string[] TableHeaders = new string[]
    {
    "User Id",
    "User Name",
    "Email",
    "Phone Number",
    "First Name",
    "Last Name"
    };
}

<div class="table">
    <table class="table table-bordered tabble-hover">
        <thead>
            <tr> 
                @{
                    foreach(var head in TableHeaders)
                    {
                        <th>
                        @head
                        </th>
                    }
                }
                <th>

                </th>
            </tr>
        </thead>
       
    </table>

    </div>
